    body {
        font-family: 'Poppins', sans-serif;
        background-color: #ffffff;
        color: #22343d;
    }
    
    ul,
    ol {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    button {
        cursor: pointer;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    
    img {
        display: block;
    }
    
    .container {
        width: 1150px;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0 auto;
    }
    /*-------Header-------*/
    
    .header {}
    
    .header-container {
        display: flex;
        align-items: center;
    }
    
    .header-logo {
        font-weight: 700;
        font-size: 30px;
        line-height: 0.93333;
        color: #173a56;
        display: flex;
        gap: 16px;
        align-items: center;
        margin-right: auto;
    }
    
    .header-nav {
        margin-right: 24px;
    }
    
    .header-nav-list {
        display: flex;
        gap: 30px;
    }
    
    .header-nav-item {}
    
    .header-nav-link {
        font-size: 16px;
        line-height: 1.75;
        color: #22343d;
        display: block;
        padding-top: 26px;
        padding-bottom: 26px;
    }
    
    .current {
        font-weight: 600;
    }
    
    .header-btn-list {
        display: flex;
        gap: 24px;
    }
    
    .header-btn-item {}
    
    .header-btn {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #173a56;
        background-color: transparent;
        min-width: 102px;
        height: 42px;
        border: 1px solid #bcd0e5;
        border-radius: 4px;
    }
    
    .header-btn:hover,
    .header-btn:focus {
        background-color: #02897a;
        border: none;
        color: #fff;
    }
    /*-------/Header------*/
    /* -----product section----- */
    
    .product-section {
        display: block;
        padding: 50px 0;
    }
    
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    
    .product-section-title {
        font-size: 32px;
        text-align: center;
        color: #22343d;
        margin-bottom: 50px;
        max-width: 539px;
    }
    
    .product-section-list {
        display: flex;
        gap: 30px;
    }
    
    .product-item-img {
        border-radius: 19px;
        margin-bottom: 26px;
    }
    
    .product-item-title {
        font-weight: 600;
        font-size: 22px;
        color: #22343d;
        margin-bottom: 13px;
    }
    
    .product-item-text {
        font-size: 16px;
        line-height: 1.6;
        color: #22343d;
        margin-bottom: 50px;
    }
    
    .product-section-btn {
        background-color: #02897a;
        border-radius: 4px;
        min-width: 175px;
        height: 53px;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        border: none;
        padding: 14.5px 33px;
    }
    
    .product-section-btn:hover,
    .product-section-btn:focus {
        background-color: #12a997;
    }
    /* -----/product section----- */
    /* COMERCIAL-SECTION */
    
    .comercial-section {
        margin-bottom: 100px;
    }
    
    .comercial-container {
        display: flex;
        background-color: #02897a;
        border-radius: 32px;
        width: 968px;
        height: 345px;
        padding-left: 51px;
        align-items: center;
        transition: box-shadow 250ms linear, transform 250ms linear;
    }
    
    .comercial-container:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform: scale(101%);
    }
    
    .comercial-title-container {}
    
    .comercial-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.514;
        color: #fff;
        max-width: 422px;
        margin-right: 100px;
        margin-bottom: 46px;
    }
    
    .comercial-button {
        border: none;
        border-radius: 8px;
        width: 150px;
        height: 50px;
        background-color: #fff;
        font-weight: 600;
        font-size: 20px;
        color: #02897a;
        transition: 250ms background-color linear, 250ms opacity linear, 250ms color linear;
    }
    
    .comercial-button:hover,
    .comercial-button:focus {
        background-color: #033017;
        opacity: 0.7;
        color: #ffffff;
    }
    /* /COMERCIAL-SECTION */
    /* FOOTER-SECTION */
    
    .footer-container {
        display: flex;
    }
    
    .logo-social-container-footer {
        margin-right: 146px;
    }
    
    .header-logo.footer {
        margin-bottom: 18px;
    }
    
    .social-list {
        display: flex;
        gap: 16px;
    }
    
    .social-list-item {
        width: 40px;
        height: 40px;
    }
    
    .social-list-img {
        fill: none;
        stroke: #02897A;
        transition: stroke 250ms linear;
    }
    
    .social-list-item:hover .social-list-img {
        stroke: #ffffff;
    }
    
    .social-list-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #edfffc;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms linear, scale 250ms linear, box-shadow 250ms linear;
    }
    
    .social-list-item:hover .social-list-link {
        background-color: #02897a;
        transform: scale(102%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    /*  */
    
    .resource {
        margin-right: 129px;
    }
    
    .resource-link {
        font-weight: 550;
        font-size: 20px;
        line-height: 1.5;
        color: #22343d;
    }
    
    .resource-list-item.link {
        margin-bottom: 28px;
    }
    
    .resource-list-item {
        margin-bottom: 23px;
    }
    
    .resource-list-link {
        font-weight: 400;
        font-size: 16px;
        color: #22343d;
    }
    
    .legal-stuff {
        margin-right: 83px;
    }
    
    .resource-list-link {
        transition: color 250ms linear;
    }
    
    .resource-list-link:hover {
        color: #02897A;
    }
    /*  */
    
    .form-title {
        max-width: 260px;
        font-weight: 550;
        font-size: 20px;
        line-height: 1.5;
        color: #22343d;
        margin-bottom: 30px;
    }
    
    .number-input {
        width: 325px;
        height: 48px;
        border: 1px solid #bcd0e5;
        border-radius: 4px;
        width: 325px;
        height: 48px;
        margin-bottom: 25px;
        padding-left: 42px;
        transition: border-color 300ms linear;
    }
    
    .number-input:focus {
        outline: none;
        border: 1.5px solid #08b19d;
    }
    
    .input-container {
        position: relative;
    }
    
    .input-logo {
        fill: #02897A;
        position: absolute;
        top: 10px;
        left: 12px;
    }
    
    .number-input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        color: #02897a;
    }
    
    .form-button {
        width: 131px;
        height: 39px;
        border-radius: 4px;
        background-color: #02897a;
        border: none;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #fff;
        transition: opacity 250ms linear;
    }
    
    .form-button:hover,
    .form-button:focus {
        opacity: 0.7;
    }
    /*  */
    
    .last-paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        color: #22343d;
    }
    
    .paragraph-rights {
        display: flex;
        justify-content: center;
    }